{% extends "CYP/header.html" %}
{% load staticfiles %}
{% block content %}

<head>
<center><h1 style="color:black;">The Founders</h1><center>
</head>



<p>The idea for Choose Your Politics came from an idea that founding father Krisstian had been orchestrating in his beautiful mind.
  Together, with the additional three founding fathers Coleman, AJ, and Mike, they were able to take that idea and turn it into a place real people could go for real news.
  The Foundng Fathers have a mission to eliminate all of the b****** that plagues "news" sites and bring you real news from all sides.</p>
<p><strong>Kristian</strong></p>
<p>A senior at Westminster, Kristian is the founding father who initiated the idea for CYP. Having contributed over 3,000,000
   lines of code, he has a "nobody can f****** stop me" attitude thats is rare.</p>
<p><strong>Coleman</strong></p>
<p>Coleman, a junior at Westminster, is the badass who mastered APIs for every social media site ever created(almost every
  site). He's getting a bachelor's degree in CS and PhD in kicking ass. </p>
<p><strong>AJ</strong></p>
<p>AJ, also a junior from Westminster, put his Chuck Norris-like computer skills to work when he took Django and made it
  his b****</p>
<p><strong>Mike</strong></p>
<p>A senior from Westminster, Mike took all the badass s*** the other founding fathers were working on, on the back-end,
  and brought it to life for the world to see.</p>





{% include "CYP/includes/htmlsnippet.html" %}
{% endblock %}
