{% extends "CYP/header.html" %}
{% load staticfiles %}
{% block content %}

<head>
<center><h1 style="color:black;">The Founders</h1><center>
</head>



<p>The idea for Choose Your Politics came from an idea that, founding father, Kristian had been orchestrating in his beautiful mind.<br>
  Together, with the additional three founding fathers Coleman, AJ, and Mike, they were able to take that idea and turn it into <br>a place real people could go for real news.
  The Foundng Fathers have a mission to eliminate all of the b****** that plagues <br>"news" sites and bring you real news from all sides.</p>

<br>
<img src="{% static 'images/kristian.jpg' %}" align="middle" style='max-height:150px;' alt="Logo" />
<p><strong>Kristian</strong></p>
<p>A senior at Westminster, Kristian is the founding father who initiated the idea for CYP.<br> Having contributed over 3,000,000
   lines of code, he has a "nobody can f****** stop me" attitude that is rare.</p>
<br>
<img src="{% static 'images/coleman.jpg' %}" align="middle" style='max-height:150px;' alt="Logo" />
<p><strong>Coleman</strong></p>
<p>Coleman, a junior at Westminster, is the badass who mastered APIs for every <br>social media site ever created(almost every
  site). He's getting a bachelor's degree in CS and PhD in kicking ass. </p>

<br>
<img src="{% static 'images/aj.jpeg' %}" align="middle" style='max-height:150px;' alt="Logo" />
<p><strong>AJ</strong></p>
<p>AJ, also a junior from Westminster, put his Chuck Norris-like computer skills to work when <br>he took Django and made it
  his b****</p>
<br>
<img src="{% static 'images/mike.jpeg' %}" align="middle" style='max-height:150px;' alt="Logo" />
<p><strong>Mike</strong></p>
<p>A senior from Westminster, Mike took all the badass s*** the other founding fathers were working on, <br>on the back-end,
  and brought it to life for the world to see.</p>





{% include "CYP/includes/htmlsnippet.html" %}
{% endblock %}
