{% extends 'CYP/header.html' %}

{% block content %}
<head>



<h1 style="color:black;">Let your news come to you.</h1>


  <!-- Load scrolling news window -->


  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <title>CYP News</title>
  </head>

  <body>
    <div>
  <iframe name="NewsIFrame" src="News/news_scroll.html" frameborder="0" height="512" width="250" "align=middle">News</iframe>
  <iframe name="NewsIFrame" src="News/news_scroll.html" frameborder="0" height="512" width="250" "align=middle">News</iframe>
  <iframe name="NewsIFrame" src="News/news_scroll.html" frameborder="0" height="512" width="250" "align=middle">News</iframe>
  </div>

</body>




</head>



{% include "CYP/includes/htmlsnippet.html" %}
{% endblock %}
