{% extends "news/header.html" %}

{% block content %}
<head>

<h1 style="color:black;">At CYP, your news is your choice.</h1>

  
  <!-- Load scrolling news window -->
<link rel="stylesheet" href="news_scroll.css" type="text/css">
<!-- Start scrolling news window -->
<div id="news_iframe_scroll">
<div class="news_scroll-title">
Recent News<br>
</div>
<iframe name="NewsIFrame" src="news_scroll.html" frameborder="0" scrolling="no"></iframe>
</div>
<!-- End scrolling news window -->



</head>



{% include "CYP/includes/htmlsnippet.html" %}
{% endblock %}
