<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">

<!---> Add code to pull from news algorithm below, 9 different feeds<--->

<title>Recent News</title>

<base target="_parent">

<link rel="stylesheet" href="News/news_scroll.css" type="text/css">

</head>

<body class="news-scroll" onMouseover="scrollspeed=0" onMouseout="scrollspeed=current" OnLoad="NewsScrollStart();">


<!-- START NEWS FEED -->
<div id="NewsDiv">
<div class="scroll-text-if">

<!-- SCROLLER CONTENT STARTS HERE -->






<span class="scroll-title-if">
News Source 1<br>
</span>

****************NEWS PULL

<a href="News/home.html">Sample Link</a>.

<br><br>






<span class="scroll-title-if">
News Source 2<br>
</span>

****************NEWS PULL

<a href="News/home.html">Sample Link</a>.

<br><br>






<span class="scroll-title-if">
News Source 3<br>
</span>

****************NEWS PULL

<a href="News/home.html">Sample Link</a>.

<br><br>






<span class="scroll-title-if">
News Source 4<br>
</span>

****************NEWS PULL

<a href="News/home.html">Sample Link</a>.

<br><br>






<span class="scroll-title-if">
News Source 5<br>
</span>

****************NEWS PULL

<a href="News/home.html">Sample Link</a>.

<br><br>






<span class="scroll-title-if">
News Source 6<br>
</span>

****************NEWS PULL

<a href="News/home.html">Sample Link</a>.

<br><br>





<span class="scroll-title-if">
News Source 7<br>
</span>

****************NEWS PULL

<a href="News/home.html">Sample Link</a>.

<br><br>





<span class="scroll-title-if">
News Source 8<br>
</span>

****************NEWS PULL

<a href="News/home.html">Sample Link</a>.

<br><br>





<span class="scroll-title-if">
News Source 9<br>
</span>

****************NEWS PULL

<a href="News/home.html">Sample Link</a>.

</br>


<!-- END SCROLLER CONTENT -->

</div>
</div>
<!-- END NEWS FEED -->




<!-- YOU DO NOT NEED TO EDIT BELOW THIS LINE -->

<script type="text/javascript">


var startdelay 		= 2; 		// START SCROLLING DELAY IN SECONDS
var scrollspeed		= 1.1;		// ADJUST SCROLL SPEED
var scrollwind		= 1;		// FRAME START ADJUST
var speedjump		= 30;		// ADJUST SCROLL JUMPING = RANGE 20 TO 40
var nextdelay		= 0; 		// SECOND SCROLL DELAY IN SECONDS 0 = QUICKEST
var topspace		= "2px";	// TOP SPACING FIRST TIME SCROLLING
var frameheight		= 176;		// IF YOU RESIZE THE CSS HEIGHT, EDIT THIS HEIGHT TO MATCH


current = (scrollspeed);


function HeightData(){
AreaHeight=dataobj.offsetHeight
if (AreaHeight===0){
setTimeout("HeightData()",( startdelay * 1000 ))
}
else {
ScrollNewsDiv()
}}

function NewsScrollStart(){
dataobj=document.all? document.all.NewsDiv : document.getElementById("NewsDiv")
dataobj.style.top=topspace
setTimeout("HeightData()",( startdelay * 1000 ))
}

function ScrollNewsDiv(){
dataobj.style.top=scrollwind+'px';
scrollwind-=scrollspeed;
if (parseInt(dataobj.style.top)<AreaHeight*(-1)) {
dataobj.style.top=frameheight+'px';
scrollwind=frameheight;
setTimeout("ScrollNewsDiv()",( nextdelay * 1000 ))
}
else {
setTimeout("ScrollNewsDiv()",speedjump)
}}


</script>


</body>
</html>
