{% extends "CYP/header.html" %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/splash_page.css' %}" type="text/css">

<head>

  <!-- <center><h1 style="color:black;">Let your news come to you.</h1><center> -->
  <title>CYP</title>

</head>
<body class="filters">

<div class="box-filters fixed seo has-tablet" id="box-filters-fixed">
  <div class="bt-menu has-mobile js-mobilefilters">
    <svg class="ico-svg" viewBox="0 0 12.344 14" xmlns="http://www.w3.org/2000/svg">
      <g id="filter" data-size="12.344 14">
    		<path d="M12.344,3.156C12.344,1.356,9.689,0,6.172,0C2.653,0,0,1.356,0,3.156C0,3.748,0.291,4.29,0.801,4.753 l4.197,5.645V14h2.458v-3.666l4.098-5.591C12.057,4.282,12.344,3.743,12.344,3.156 M6.172,1.513c2.801,0,4.658,0.989,4.658,1.644 C10.83,3.81,8.973,4.8,6.172,4.8c-2.8,0-4.659-0.99-4.659-1.644C1.513,2.502,3.372,1.513,6.172,1.513"/>
    	</g>
    </svg>

  </div>
  <div class="container">
    <div class="box-left">
      <ul class="menu-filters">
        <li class="item item-btclose has-mobile js-mobilefilters">
          <span>FILTERS</span>
        </li>
        <li class="item has-desktop not-hover">

          <div id="exit_district_view">

            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve" height="50px" width="50px">
              <path d="M25.1875,46.1640625C13.5175781,46.1640625,4.0234375,36.6699219,4.0234375,25S13.5175781,3.8359375,25.1875,3.8359375  S46.3515625,13.3300781,46.3515625,25S36.8574219,46.1640625,25.1875,46.1640625z M25.1875,4.5859375  C13.9311523,4.5859375,4.7734375,13.7431641,4.7734375,25S13.9311523,45.4140625,25.1875,45.4140625  S45.6015625,36.2568359,45.6015625,25S36.4438477,4.5859375,25.1875,4.5859375z M33.875,24.625H16.5v0.75h17.375V24.625z"/>
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve" height="50px" width="50px">
              <path d="M25.4941406,3.8359375C13.8242188,3.8359375,4.3300781,13.3300781,4.3300781,25s9.4941406,21.1640625,21.1640625,21.1640625  S46.6582031,36.6699219,46.6582031,25S37.1640625,3.8359375,25.4941406,3.8359375z M25.4941406,45.4140625  C14.2373047,45.4140625,5.0800781,36.2568359,5.0800781,25S14.2373047,4.5859375,25.4941406,4.5859375  S45.9082031,13.7431641,45.9082031,25S36.7509766,45.4140625,25.4941406,45.4140625z M25.8691406,24.625h8.3125v0.75h-8.3125v8.3125  h-0.75V25.375h-8.3125v-0.75h8.3125v-8.3125h0.75V24.625z"/>
            </svg>
            <!-- <a onclick="clicked()">
              <svg id="exit_button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                <path d="M16.842,95h66.316C89.688,95,95,89.688,95,83.158V16.842C95,10.313,89.688,5,83.158,5H16.842C10.313,5,5,10.313,5,16.842  v66.316C5,89.688,10.313,95,16.842,95z M9.737,16.842c0-3.918,3.187-7.104,7.104-7.104h66.316c3.918,0,7.104,3.187,7.104,7.104  v66.316c0,3.918-3.187,7.104-7.104,7.104H16.842c-3.918,0-7.104-3.187-7.104-7.104V16.842z"/>
                <path d="M30.799,69.201c0.463,0.462,1.069,0.693,1.675,0.693c0.606,0,1.212-0.231,1.675-0.693L50,53.349l15.852,15.851  c0.463,0.462,1.068,0.693,1.675,0.693c0.605,0,1.212-0.231,1.675-0.693c0.925-0.926,0.925-2.425,0-3.35L53.35,49.999L69.2,34.148  c0.925-0.926,0.925-2.424,0-3.35c-0.926-0.925-2.424-0.925-3.35,0L50,46.649L34.148,30.799c-0.926-0.925-2.424-0.925-3.35,0  c-0.925,0.926-0.925,2.425,0,3.35L46.65,49.999L30.799,65.852C29.874,66.777,29.874,68.275,30.799,69.201z"/>
              </svg>
            </a> -->
          </div>

          <!-- <svg class="ico-svg" viewBox="0 0 12.344 14" xmlns="http://www.w3.org/2000/svg">
            <g id="filter" data-size="12.344 14">
          		<path d="M12.344,3.156C12.344,1.356,9.689,0,6.172,0C2.653,0,0,1.356,0,3.156C0,3.748,0.291,4.29,0.801,4.753 l4.197,5.645V14h2.458v-3.666l4.098-5.591C12.057,4.282,12.344,3.743,12.344,3.156 M6.172,1.513c2.801,0,4.658,0.989,4.658,1.644 C10.83,3.81,8.973,4.8,6.172,4.8c-2.8,0-4.659-0.99-4.659-1.644C1.513,2.502,3.372,1.513,6.172,1.513"/>
          	</g>
          </svg> -->

        </li>
        <li class="item item-text not-hover">
          <strong>Filter By</strong>
        </li>
        <li class="item dropdown">
          <span class="name-filter">View Mode</span>
          <div class="menu-dropdown style2">
            <ul>
              <li><strong><a id='congressionial_districts' href="#" data-count="133th">Congressional Districts</a></strong></li>
              <li><strong><a href="#" data-count="Soon">Legislative Districts</a></strong></li>
              <li><strong><a id='counties-map' href="#" data-count="">Counties</a></strong></li>
              <li><strong><a id='state-maps' href="#" data-count="">States</a></strong></li>
              <!-- <li><strong><a href="/websites/developer/" data-count="294">Developer</a></strong></li>
              <li><strong><a href="/websites/mobile_excellence/" data-count="116">Mobile Excellence</a></strong></li>
              <li><strong><a href="/websites/honorable/" data-count="11038">Honorable Mentions</a></strong></li>
              <li><strong><a href="/websites/nominees/" data-count="26722">Nominees</a></strong></li> -->
            </ul>
          </div>
        </li>
        <li class="item dropdown">
          <span class="name-filter">Filters</span>
          <div class="menu-dropdown">
            <ul>
              <li><strong><a href="#"  data-count="Soon">2016 Presidential Election</a></strong></li>
              <li><strong><a href="#"  data-count="Soon">Legalized Marijuana</a></strong></li>
              <li><strong><a href="#" data-count="Soon">Medical Marijuana</a></strong></li>
              <li><strong><a href="#" data-count="Soon">Federal Funding</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
            </ul>
          </div>
        </li>
        <li class="item dropdown">
          <span class="name-filter">Data</span>
          <div class="menu-dropdown">
            <ul>
              <li><strong><a href="#" data-count="16">Sources</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
            </ul>
          </div>
        </li>
        <li class="item dropdown ">
          <span class="name-filter">Map Features</span>
          <div class="menu-dropdown">
            <ul>
              <li><strong><a href="#" data-count="Soon">Capitols</a></strong></li>
              <li><strong><a href="#" data-count="Soon">Major Cities</a></strong></li>
              <li><strong><a href="#" data-count="Soon">Population</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
            </ul>
          </div>
        </li>
        <li class="item dropdown ">
          <span class="name-filter">Blank</span>
          <div class="menu-dropdown">
            <ul>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
            </ul>
          </div>
        </li>

      </ul>
    </div>


    <div class="box-right">
      <ul class="menu-filters">
        <li class="item dropdown not-arrow">
          <span class="name-filter grid-icon">
            <a class="bt-info"></a>
          </span>
          <div class="menu-dropdown style3 position-center">
            <ul class="icons">
              <li class="change_grid" data-cols="3">
                <span class="ico-link">Small Screenshots</span>


              </li>
              <li class="change_grid" data-cols="4">
                <span class="ico-link">Big screenshots</span>


              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>



  </div>
  <div id="open-filter-scroll" style="display: none;" class="style2">
    <div class="bts">
      <div class="bt bt-close">
      </div>
    </div>
    <div class="spinner" style="display: none;">
    </div>
  </div>
</div>



<div class="se-pre-con">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>


<!-- <html> -->
<section id="content">
<!-- <body marginwidth="0" marginheight="0"> -->
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://d3js.org/queue.v1.min.js"></script>
  <script src="https://d3js.org/topojson.v2.min.js"></script>
  <!-- <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/topojson.v2.min.js"></script> -->
  <!-- <script type="text/javascript" src="{% static '/js/map_view.js' %}"></script> -->

  <div id="page_location" data-page="map_view" data-page_path="United States | Map View"></div>
  <!-- <div id="exit_district_view">
    <a onclick="clicked()">
      <svg id="exit_button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
        <path d="M16.842,95h66.316C89.688,95,95,89.688,95,83.158V16.842C95,10.313,89.688,5,83.158,5H16.842C10.313,5,5,10.313,5,16.842  v66.316C5,89.688,10.313,95,16.842,95z M9.737,16.842c0-3.918,3.187-7.104,7.104-7.104h66.316c3.918,0,7.104,3.187,7.104,7.104  v66.316c0,3.918-3.187,7.104-7.104,7.104H16.842c-3.918,0-7.104-3.187-7.104-7.104V16.842z"/>
        <path d="M30.799,69.201c0.463,0.462,1.069,0.693,1.675,0.693c0.606,0,1.212-0.231,1.675-0.693L50,53.349l15.852,15.851  c0.463,0.462,1.068,0.693,1.675,0.693c0.605,0,1.212-0.231,1.675-0.693c0.925-0.926,0.925-2.425,0-3.35L53.35,49.999L69.2,34.148  c0.925-0.926,0.925-2.424,0-3.35c-0.926-0.925-2.424-0.925-3.35,0L50,46.649L34.148,30.799c-0.926-0.925-2.424-0.925-3.35,0  c-0.925,0.926-0.925,2.425,0,3.35L46.65,49.999L30.799,65.852C29.874,66.777,29.874,68.275,30.799,69.201z"/>
      </svg>
    </a>
  </div> -->


  <div class="map active" id="united-states">

    <!-- <div class="slidecontainer"> -->
      <!-- <input type=”range” class=”range”  min=’0′ max=’1′ step=’0.1′ value=’1′ > -->
      <!-- <input type="range" min="1" max="80" value="80" class="range vertical-lowest-first round desktop-only" id="myRange"> -->
    <!-- </div> -->

  </div>

</section>

</body>

<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<script type="text/javascript" src="{% static '/js/map_view.js' %}"></script>

{% include "CYP/includes/htmlsnippet.html" %}
{% endblock %}
