{% extends "CYP/header.html" %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/splash_page.css' %}" type="text/css">

<head>

  <!-- <center><h1 style="color:black;">Let your news come to you.</h1><center> -->
  <title>CYP</title>

</head>
<body class="filters">

<div class="box-filters fixed seo" id="box-filters-fixed">
  <div class="bt-menu has-mobile js-mobilefilters">
    <svg class="ico-svg" viewBox="0 0 12.344 14" xmlns="http://www.w3.org/2000/svg">
      <g id="filter" data-size="12.344 14">
    		<path d="M12.344,3.156C12.344,1.356,9.689,0,6.172,0C2.653,0,0,1.356,0,3.156C0,3.748,0.291,4.29,0.801,4.753 l4.197,5.645V14h2.458v-3.666l4.098-5.591C12.057,4.282,12.344,3.743,12.344,3.156 M6.172,1.513c2.801,0,4.658,0.989,4.658,1.644 C10.83,3.81,8.973,4.8,6.172,4.8c-2.8,0-4.659-0.99-4.659-1.644C1.513,2.502,3.372,1.513,6.172,1.513"/>
    	</g>
    </svg>

  </div>
  <div class="container">
    <div class="box-left">
      <ul class="menu-filters">
        <li class="item item-btclose has-mobile js-mobilefilters">
          <span>FILTERS</span>
        </li>
        <li class="item has-desktop not-hover">

          <div id="exit_district_view">
            <a onclick="clicked()">
              <svg id="exit_button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                <path d="M16.842,95h66.316C89.688,95,95,89.688,95,83.158V16.842C95,10.313,89.688,5,83.158,5H16.842C10.313,5,5,10.313,5,16.842  v66.316C5,89.688,10.313,95,16.842,95z M9.737,16.842c0-3.918,3.187-7.104,7.104-7.104h66.316c3.918,0,7.104,3.187,7.104,7.104  v66.316c0,3.918-3.187,7.104-7.104,7.104H16.842c-3.918,0-7.104-3.187-7.104-7.104V16.842z"/>
                <path d="M30.799,69.201c0.463,0.462,1.069,0.693,1.675,0.693c0.606,0,1.212-0.231,1.675-0.693L50,53.349l15.852,15.851  c0.463,0.462,1.068,0.693,1.675,0.693c0.605,0,1.212-0.231,1.675-0.693c0.925-0.926,0.925-2.425,0-3.35L53.35,49.999L69.2,34.148  c0.925-0.926,0.925-2.424,0-3.35c-0.926-0.925-2.424-0.925-3.35,0L50,46.649L34.148,30.799c-0.926-0.925-2.424-0.925-3.35,0  c-0.925,0.926-0.925,2.425,0,3.35L46.65,49.999L30.799,65.852C29.874,66.777,29.874,68.275,30.799,69.201z"/>
              </svg>
            </a>
          </div>

          <!-- <svg class="ico-svg" viewBox="0 0 12.344 14" xmlns="http://www.w3.org/2000/svg">
            <g id="filter" data-size="12.344 14">
          		<path d="M12.344,3.156C12.344,1.356,9.689,0,6.172,0C2.653,0,0,1.356,0,3.156C0,3.748,0.291,4.29,0.801,4.753 l4.197,5.645V14h2.458v-3.666l4.098-5.591C12.057,4.282,12.344,3.743,12.344,3.156 M6.172,1.513c2.801,0,4.658,0.989,4.658,1.644 C10.83,3.81,8.973,4.8,6.172,4.8c-2.8,0-4.659-0.99-4.659-1.644C1.513,2.502,3.372,1.513,6.172,1.513"/>
          	</g>
          </svg> -->

        </li>
        <li class="item item-text not-hover">
          <strong>Filter By</strong>
        </li>
        <li class="item dropdown">
          <span class="name-filter">View Mode</span>
          <div class="menu-dropdown style2">
            <ul>
              <li><strong><a id='congressionial_districts' href="#" data-count="133th">Congressional Districts</a></strong></li>
              <li><strong><a href="#" data-count="Soon">Legislative Districts</a></strong></li>
              <li><strong><a id='counties-map' href="#" data-count="">Counties</a></strong></li>
              <li><strong><a id='state-maps' href="#" data-count="">States</a></strong></li>
              <!-- <li><strong><a href="/websites/developer/" data-count="294">Developer</a></strong></li>
              <li><strong><a href="/websites/mobile_excellence/" data-count="116">Mobile Excellence</a></strong></li>
              <li><strong><a href="/websites/honorable/" data-count="11038">Honorable Mentions</a></strong></li>
              <li><strong><a href="/websites/nominees/" data-count="26722">Nominees</a></strong></li> -->
            </ul>
          </div>
        </li>
        <li class="item dropdown">
          <span class="name-filter">Filters</span>
          <div class="menu-dropdown">
            <ul>
              <li><strong><a href="#"  data-count="Soon">2016 Presidential Election</a></strong></li>
              <li><strong><a href="#"  data-count="Soon">Legalized Marijuana</a></strong></li>
              <li><strong><a href="#" data-count="Soon">Medical Marijuana</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
            </ul>
          </div>
        </li>
        <li class="item dropdown">
          <span class="name-filter">Data</span>
          <div class="menu-dropdown">
            <ul>
              <li><strong><a href="#" data-count="16">Sources</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
            </ul>
          </div>
        </li>
        <li class="item dropdown ">
          <span class="name-filter">Blank</span>
          <div class="menu-dropdown">
            <ul>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
            </ul>
          </div>
        </li>
        <li class="item dropdown ">
          <span class="name-filter">Blank</span>
          <div class="menu-dropdown">
            <ul>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
              <li><strong><a href="#" data-count="TBD">TBD</a></strong></li>
            </ul>
          </div>
        </li>

      </ul>
    </div>
    <div class="box-right">
      <ul class="menu-filters">
        <li class="item dropdown not-arrow">
          <span class="name-filter grid-icon">
            <svg class="ico-svg ico-13" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg">
              <g id="grid" data-size="13 13">
                <path d="M0,0h3v3H0V0z M5,3h3V0H5V3z M10,3h3V0h-3V3z M0,8h3V5H0V8z M5,8h3V5H5V8z M10,8h3V5h-3V8z M0,13h3v-3H0V13z M5,13h3v-3H5V13z M10,13h3v-3h-3V13z"/>
              </g>
            </svg>

          </span>
          <div class="menu-dropdown style2 position-right">
            <ul class="icons">
              <li class="change_grid" data-cols="3">
                <span class="ico-link">Small Screenshots</span>
                <svg class="ico-svg ico-13 ico-rendering" viewBox="0 0 17 14" xmlns="http://www.w3.org/2000/svg">
                  <g id="grid" data-size="13 13">
                    <path d="M0,0h3v3H0V0z M5,3h3V0H5V3z M10,3h3V0h-3V3z M0,8h3V5H0V8z M5,8h3V5H5V8z M10,8h3V5h-3V8z M0,13h3v-3H0V13z M5,13h3v-3H5V13z M10,13h3v-3h-3V13z"/>
                  </g>
                </svg>

              </li>
              <li class="change_grid" data-cols="4">
                <span class="ico-link">Big screenshots</span>
                <svg class="ico-svg ico-13 ico-rendering" viewBox="0 0 14 13" xmlns="http://www.w3.org/2000/svg">
                  <g id="grid-2cols" data-size="14 13">
                    <path d="M0,0h6v3H0V0z M0,8h6V5H0V8z M0,13h6v-3H0V13z M8,0h6v3H8V0z M8,8h6V5H8V8z M8,13h6v-3H8V13z"/>
                  </g>
                </svg>

              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="open-filter-scroll" style="display: none;" class="style2">
    <div class="bts">
      <div class="bt bt-close">
      </div>
    </div>
    <div class="spinner" style="display: none;">
    </div>
  </div>
</div>

<!-- <html> -->
<section id="content">
<!-- <body marginwidth="0" marginheight="0"> -->
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://d3js.org/queue.v1.min.js"></script>
  <script src="https://d3js.org/topojson.v2.min.js"></script>
  <!-- <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/topojson.v2.min.js"></script> -->
  <!-- <script type="text/javascript" src="{% static '/js/map_view.js' %}"></script> -->

  <div id="page_location" data-page="map_view" data-page_path="United States | Map View"></div>
  <!-- <div id="exit_district_view">
    <a onclick="clicked()">
      <svg id="exit_button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
        <path d="M16.842,95h66.316C89.688,95,95,89.688,95,83.158V16.842C95,10.313,89.688,5,83.158,5H16.842C10.313,5,5,10.313,5,16.842  v66.316C5,89.688,10.313,95,16.842,95z M9.737,16.842c0-3.918,3.187-7.104,7.104-7.104h66.316c3.918,0,7.104,3.187,7.104,7.104  v66.316c0,3.918-3.187,7.104-7.104,7.104H16.842c-3.918,0-7.104-3.187-7.104-7.104V16.842z"/>
        <path d="M30.799,69.201c0.463,0.462,1.069,0.693,1.675,0.693c0.606,0,1.212-0.231,1.675-0.693L50,53.349l15.852,15.851  c0.463,0.462,1.068,0.693,1.675,0.693c0.605,0,1.212-0.231,1.675-0.693c0.925-0.926,0.925-2.425,0-3.35L53.35,49.999L69.2,34.148  c0.925-0.926,0.925-2.424,0-3.35c-0.926-0.925-2.424-0.925-3.35,0L50,46.649L34.148,30.799c-0.926-0.925-2.424-0.925-3.35,0  c-0.925,0.926-0.925,2.425,0,3.35L46.65,49.999L30.799,65.852C29.874,66.777,29.874,68.275,30.799,69.201z"/>
      </svg>
    </a>
  </div> -->

  <div class="map active" id="united-states">

  </div>

</section>

</body>

<script type="text/javascript" src="{% static '/js/map_view.js' %}"></script>

{% include "CYP/includes/htmlsnippet.html" %}
{% endblock %}
