<!DOCTYPE html>
<html lang="en">

<head>
	<img src="{% static 'CYP/CYP/static/images/ffLogo1.png' %}" class="responsive-img" style='max-height:100px;' alt="face">

	<title>Choose Your Politics</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" type = "text/css"/>
     <!-- we could also use /static/css/bootstrap.min.css to hard code.
            The example above uses a varible with jinja.
            We could make the static directory local by adding another directory in the static folder
            because django combines all static dir
            -->
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
	<script src="{% static '/js/test.js' %}" type="text/javascript"></script>
    <right>
      <a href="{% url 'login' %}">Login</a>
		</right>
		<a href="{% url register %}">Register</a>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<!--<img src="{% static 'img/profile.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">-->
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h3>Choose Your Politics</h3>
				  </center>
			  </div>
		</div><hr>

		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
			  <ul class="nav nav-pills nav-stacked">
				<li><a href='/'>Home</a></li>
				<!--<li><a href='/blog/'>Blog</a></li>
				<li><a href='/contact/'>Contact</a></li>-->
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">

			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}
			</div>
		  </div>
		</div>
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>

<!--> CYP Nav Bar <-->
	<style>
	ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color: #800000;
	}

	li {
	    float: left;
	}

	li a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}

	li a:hover:not(.active) {
	    background-color: #111;
	}

	.active {
	    background-color: #000066;
	}
	</style>

	</head>
	<body>

	<ul>
	  <li><a class="active" href="#home">Home</a></li>
	  <li><a href="#news">News</a></li>
	  <li><a href="#contact">Share</a></li>
	  <li><a href="#about">About</a></li>
	</ul>


</body>

</html>
