<!DOCTYPE html>
<html lang="en">


	<style type="text/css">
	header {
	    float: left;
	    margin:0 0 30px 0;
	    padding: 5px 0 0 0 ;
	    width: 100%;
	  background-image:url('../images/founding.jpg');
	  }
	</style>

<header>
	{% load staticfiles %}
        <img src="{% static 'images/founding.jpg' %}" align="middle" style='max-height:150px;' alt="Logo" />
</header>

<head>
<style>
h1 {
    text-align: center;
}
</style>

<p></P>
<img src="{% static 'images/ffLogo.png' %}" class="responsive-img" align="middle" style='max-height:150px;' alt="face">
	<meta charset="utf-8" />

	<link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" type = "text/css"/>
     <!-- we could also use /static/css/bootstrap.min.css to hard code.
            The example above uses a varible with jinja.
            We could make the static directory local by adding another directory in the static folder
            because django combines all static dir
            -->
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>

    <right>
      <a href="{% url 'login' %}">Login</a>
		</right>
		<a href="{% url 'register' %}">Register</a>

<h1> Choose Your Politics </h1>

</head>
<p></p>

<!-- /* CYP Nav Bar */ -->
	<style>
	ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color: #1D305B;
	}

	li {
	    float: left;
	}

	li a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}

	li a:hover:not(.active) {
	    background-color: #CC5222;
	}

	.active {
	    background-color: #CC5222;
	}
	</style>

	</head>
	<body>

	<ul>
	  <li><a class="active" href="#home">Home</a></li>
	  <li><a href="">News</a></li>
	  <li><a href="">Share</a></li>
	  <li><a href="CYP/aboutUs/about.html">About</a></li>
	</ul>
<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<!--<img src="{% static 'img/profile.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">-->
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <!-- <h3>Choose Your Politics</h3> -->
				  </center>
			  </div>
		</div><hr>

		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<!-- <div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
			  <ul class="nav nav-pills nav-stacked">
				<li><a href='/'>Home</a></li> -->
				<!--<li><a href='/blog/'>Blog</a></li>
				<li><a href='/contact/'>Contact</a></li>-->
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">

			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}
			</div>
		  </div>
		</div>
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>





		<!-- URL Icon
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff"> -->



</body>

</html>
