.body {
  height: 100%;
}

.land
			{
				stroke:white;
				stroke-opacity: 1;
				stroke-width:0.5;
        transition: 180ms;
        transition-timing-function: ease-in-out;
        -webkit-transition: 180ms;
        -webkit-transition-timing-function: ease-in-out;
			}

.map.active {
  display: block;
}

.map {
  display: none;
}

#content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    clear: both;
    min-height: calc(100vh - 281px);
    -webkit-transition: padding 0.6s ease-in-out;
    transition: padding 0.6s ease-in-out;
    z-index: 0;
    top: 70px;
    height: 100vh;
    min-height: calc(100% - 70px);
    padding-bottom: 70px;
}


#united-states {
  text-align: center;
  /* display: inline-block; */
	position: relative;
	width: 100%;
	/* padding-bottom: 100%; */
	vertical-align: middle;
	overflow: hidden;
  padding-right: calc((100vw - ((100vh - 70px) * 1.318))/2);
  padding-left: calc((100vw - ((100vh - 70px) * 1.318))/2);
  /* margin-top: calc(((100vh - 70px) - (((100vh - 70px) * 1.618) - (100vw - ((100vh - 70px) * 1.618)) * 0.618)) /2); */
  /* display: none; */
  /* height: calc(100vh - 70px); */
}

/* #washington-state {
  display: none;
  margin: 0 auto;
  margin-top: calc((50vh - 70px) - 296.5px);
} */

/* .pathh #AK {
fill= #D3D3D3;
} */

/* a .land:hover #facebook, */

/* path .land:hover #AK,
path .land:hover #HI,
path .land:hover #AL,
path .land:hover #AR,
path .land:hover #AZ,
path .land:hover #CA,
path .land:hover #CO,
path .land:hover #CT,
path .land:hover #DE,
path .land:hover #FL,
path .land:hover #GA,
path .land:hover #IA,
path .land:hover #ID,
path .land:hover #IL,
path .land:hover #IN,
path .land:hover #KS,
path .land:hover #KY,
path .land:hover #LA,
path .land:hover #MA,
path .land:hover #MD,
path .land:hover #ME,
path .land:hover #MI,
path .land:hover #MN,
path .land:hover #MO,
path .land:hover #MS,
path .land:hover #MT,
path .land:hover #NC,
path .land:hover #ND,
path .land:hover #NE,
path .land:hover #NH,
path .land:hover #NJ,
path .land:hover #NM,
path .land:hover #NV,
path .land:hover #NY,
path .land:hover #OH,
path .land:hover #OK,
path .land:hover #OR,
path .land:hover #PA,
path .land:hover #RI,
path .land:hover #SC,
path .land:hover #SD,
path .land:hover #TN,
path .land:hover #TX,
path .land:hover #UT,
path .land:hover #VA,
path .land:hover #VT,
path .land:hover #WA,
path .land:hover #WI,
path .land:hover #WV,
path .land:hover #WY,
path .land:hover #DC1
{
  fill: #49c5b6;
} */

.land #AK,
.land #HI,
.land #AL,
.land #AR,
.land #AZ,
.land #CA,
.land #CO,
.land #CT,
.land #DE,
.land #FL,
.land #GA,
.land #IA,
.land #ID,
.land #IL,
.land #IN,
.land #KS,
.land #KY,
.land #LA,
.land #MA,
.land #MD,
.land #ME,
.land #MI,
.land #MN,
.land #MO,
.land #MS,
.land #MT,
.land #NC,
.land #ND,
.land #NE,
.land #NH,
.land #NJ,
.land #NM,
.land #NV,
.land #NY,
.land #OH,
.land #OK,
.land #OR,
.land #PA,
.land #RI,
.land #SC,
.land #SD,
.land #TN,
.land #TX,
.land #UT,
.land #VA,
.land #VT,
.land #WA,
.land #WI,
.land #WV,
.land #WY,
.land #DC1
{
  transition: 180ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 180ms;
  -webkit-transition-timing-function: ease-in-out;
}


#us-states {
  margin: 0 auto;
  margin-top: calc((50vh - 70px) - 296.5px);
  display: block;
  top: 50%;
}

#entry_text {
  text-align: left;
  margin-top: 10%;
  margin-left: 20%;
}

#box {
  margin-left: 4.1%;
  /* margin-right: 5%; */
  width: 90%;
  min-height: 25%;
  background-color: #1D305B;
  align-items: center;
  position: absolute;;
  bottom: 0%;
}

#inbox {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}
