@font-face {
     font-family: 'StateFaceRegular';
     src: url('stateface-regular-webfont.eot');
     src: url('stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('stateface-regular-webfont.woff') format('woff'),
          url('stateface-regular-webfont.ttf') format('truetype'),
          url('stateface-regular-webfont.svg#StateFaceRegular') format('svg');
     font-weight: normal;
     font-style: normal;
 }

#content {
  top: 0px !important;
}

#united-states {
  height: calc((100vh - 70px) * 0.702);
}

#us-states {
  margin: 0 auto;
  margin-top: calc((50vh - 70px) - 296.5px);
  display: block;
  top: 50%;
}

#entry_text {
  text-align: left;
  margin-top: 10%;
  margin-left: 20%;
}

#box {
  margin-left: 4.1%;
  /* margin-right: 5%; */
  width: 90%;
  min-height: 25%;
  background-color: #1D305B;
  align-items: center;
  position: absolute;;
  bottom: 0%;
}

#inbox {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}


.background {
  fill: none;
  pointer-events: all;
}

#states {
  fill: #aaa;
  transition: 180ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 180ms;
  -webkit-transition-timing-function: ease-in-out;
}

.map_mode_not_active {
  display: none !important;
}

.exit_view_not_active {
  /* visibility: hidden; */
}

#districts {
  fill: #aaa;
  /* display: none; */
  transition: 180ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 180ms;
  -webkit-transition-timing-function: ease-in-out;
}

#counties {
  fill: #aaa;
  /* display: none; */
  transition: 180ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 180ms;
  -webkit-transition-timing-function: ease-in-out;
}

/* .state {
  fill: #49c5b6;
} */

/* .districts{
  display: none;
} */

#states .active {
  fill: #49c5b6;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

#district_boundries {
  fill: none;
  /* display: none; */
  stroke: #fff;
  stroke-width: .5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

#county-borders {
  fill: none;
  /* display: none; */
  stroke: #fff;
  stroke-width: .5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: calc(50vw - 35px);
	top: calc(50vh - 35px);
	/* width: 100%;
	height: 100%; */
	/* z-index: 9999; */
	/* background: url(/static/images/article_images/558.jpg) center no-repeat #fff; */
}

.spinner {
  /* margin: 100px auto 0; */
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.map svg {
  height: inherit;
}










/* Article CSS STuff Below */
.block {
  padding-top: 10px;
    position: relative;
    /* padding: 50px 0; */
    background-color: #f4f7f6;
    -webkit-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
.inner.width-3 {
    max-width: 870px;
}
.box-page-info {
    margin-bottom: -10px;
    text-align: center;
}
.heading-large {
    font-size: 38px;
    font-weight: 800;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 25px;
    font-weight: normal;
    line-height: 170%;
}
.inner:after {
    content: '';
    display: block;
    clear: both;
}
.nav-sections.style1 {
    padding-top: 25px;
    padding-bottom: 65px;
    text-align: center;
}
.nav-sections {
    position: relative;
    display: block;
    font-size: 17px;
    font-weight: normal;
    overflow: hidden;
    background-color: #f4f7f6;
}
.nav-sections .slider {
    position: absolute;
    bottom: 0;
    width: 25%;
    height: 3px;
    box-shadow: 0 3px $color;
    transition: all .3s ease-in-out;
    background-color: black;
}
.nav-sections ul {
    border-bottom: 3px solid #eee;
    width: fit-content;
}
.nav-sections li.active {
    /* font-weight: bold; */
}
.nav-sections li {
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.nav-sections li span, .nav-sections li a {
    display: inline-block;
    padding-bottom: 8px;
    font-size: large;
    /* border-bottom: 4px solid transparent; */
    color: #202121;
}
.nav-sections li:nth-child(1):after, .nav-sections li:nth-child(2):after {
    content: '|';
    padding-right: 6px;
    padding-left: 6px;
    font-weight: normal;
}
.navscroll {
    cursor: pointer;
}
.nav-sections li:nth-child(1):after, .nav-sections li:nth-child(2):after {
    content: '|';
    padding-right: 6px;
    padding-left: 6px;
    font-weight: normal;
}


.box-site-head .box-br {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    /* bottom: 50px; */
    /* right: 0; */
    z-index: 1001;
    width: 100vw;
    top: 450px;
}

@media (max-width: 1919px)
.box-site-head .box-breadcrumb, .box-site-head .box-br, .box-site-head .box-bl {
    padding: 0 70px;
}

.box-site-head .bt-page {
    /* border-color: #fcfcfc; */
}

.bt-page {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-color: #202121;
}

.nav-stateTop-open .bt-page:before {
    border-color: #fcfcfc !important;
}

.bt-page:before {
    border-color: #202121;
}
.bt-page:before {
    content: '';
    position: absolute;
    left: 13px;
    top: 11px;
    width: 10px;
    height: 10px;
    border-width: 2px;
    border-style: solid;
    border-right: none;
    border-top: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.box-site-head .bt-page.bt-next {
    margin-left: 6px;
}
.bt-page.bt-next:before {
    left: 10px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.box-bt-page.right {
  left: 100px;
  position: absolute;
}

.box-bt-page.left {
  right: 100px;
  position: absolute;
}

.nav-stateTop-open #united-states:before {
    opacity: 1;
    visibility: visible;
}

#united-states:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background-color: rgba(0,0,0,0.75);
    z-index: 1000;
    /* opacity: 0; */
    visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#nav-stateTop-menu {
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-stateTop-open #nav-stateTop-menu {
  display: inline-block;
}

.nav-stateTop-open .bt-page {
  border-color: #fcfcfc !important;
}






















/* Recent News CSS STUFF below */
.grid {
    clear: both;
    margin-left: -35px;
}

.list-items {
    width: 100%;
}

.list-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.grid .list-items [class*=col-] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.list-flex [class*=col-], .list-flex [class*=cols-] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.grid .col-3 {
    width: 25%;
}

.grid .col-1 {
  width: 14.28571429%;
}

.grid .col-1 .rollover img {
  object-position: top;
}

.grid [class*=col-], .grid [class*=cols-] {
    position: relative;
    float: left;
    padding-left: 35px;
    padding-bottom: 35px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.list-items .box-item {
    position: relative;
    width: 100%;
    -webkit-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(221,223,226,0.3);
    -moz-box-shadow: 0px 0px 5px 1px rgba(221,223,226,0.3);
    box-shadow: 0px 0px 5px 1px rgba(221,223,226,0.3);
}

/* .list-items figure img {
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
} */

.list-items figure, .list-items figure img {
    /* width: 100%; */
    /* height: calc(width * 0.714); */
    float: left;
    overflow: hidden;
    height: 19em;
    /* width: 417px; */
    /* height: 298px; */
    /* width: 358.75px;
    height: 256.359px; */
    object-fit: cover;
}

.rollover {
    display: block;
    background: #E6EAEA;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

figure {
    position: relative;
    display: inline-block;
}

article, aside, details, figcaption, figure, footer, header, nav, section {
    display: block;
}

a {
    color: #49c5b6;
    text-decoration: none;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.rollover .box-photo {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.rollover img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

/* .lazy-loaded {
    opacity: 1;
} */

figure img {
    display: block;
    /* max-width: 100%; */
    height: auto;
}

img {
    /* max-width: 100%; */
    /* height: auto; */
}

img {
    border: none;
}

.rollover .hover-item.bottom {
    bottom: 20px;
}

.rollover .hover-item {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 20px;
    z-index: 3;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.rollover .bt-item.bt-link {
    width: 35px;
    height: 35px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 50%;
}

.rollover .bt-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 35px;
    height: 27px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.list-items .box-style4:hover .rollover:after {
  opacity: 1
}

.rollover:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #202121;
    opacity: 0;
    z-index: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.rollover:hover:not(.no-scale) .box-photo img {
  -webkit-transform: scale(1.03);
  transform: scale(1.03)
}

.rollover:hover .hover-item {
  visibility: visible;
  opacity: 1
}

.rollover:not(.no-hover):hover:after {
  opacity: 1
}

.box-style5 .rollover:not(.no-hover):hover:after {
  opacity: 0.3
}

.rollover:not(.no-hover):hover .box-photo img {
  opacity: 0.5
}

.rollover:not(.no-hover):hover .box-photo video {
  opacity: 0.5
}


.rollover .bt-item.bt-link .ico-svg {
    height: 11px;
}

.rollover .bt-item .ico-svg {
    fill: #fff;
    height: 13px;
}

.ico-svg {
    position: relative;
    display: inline-block;
    width: auto;
    height: 14px;
    fill: #202121;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.list-items .box-info {
    position: relative;
    clear: both;
    background-color: #fcfcfc;
}

.list-flex .box-info, .list-flex .box-info .content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.list-flex .box-item, .list-flex .box-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

.list-items .box-item div.content {
    padding: 20px;
}

.list-items .box-info .row:first-of-type {
    height: auto;
    white-space: inherit;
}

.list-items .box-info .row {
    height: 20px;
    margin-bottom: 12px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.list-items h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
}

h3, .h3 {
    font-size: 19px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 25px;
    font-weight: normal;
    line-height: 170%;
}

.list-items h3 a {
    color: #202121;
}

strong {
    font-weight: 500;
}

.list-items .box-info .row:last-of-type {
    margin-bottom: 0;
}

.list-items .box-info .footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    height: 1px;
    padding: 0 20px;
    background: #f4f7f6;
}

.list-items .box-info .footer {
  position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* padding: 0 20px 20px 20px; */
    padding: 11px 20px 10px 20px;
    font-size: 12px;
    color: #BDC1C0;
}

.list-items .box-info .footer .box-left {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.list-items .box-info .box-users-likes {
    margin-right: 6px;
}

.box-users-likes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.box-users-likes .list-users>li {
    position: relative;
    float: left;
    margin-right: 6px;
}

.box-users-likes .item {
    position: relative;
}

.box-users-likes img {
    float: left;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    object-fit: cover;
}

.box-users-likes .item:after {
    content: '';
    display: block;
    clear: both;
}

.container-bt-circle {
    position: relative;
    cursor: pointer;
    float: left;
}

.tooltip {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.bt-like {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    width: 27px;
    height: 27px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.bt-like .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.bt-like .circle {
    stroke: #BDC1C0;
}

.bt-like .ico-svg {
    height: 11px;
    z-index: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.bt-like .ico-svg {
    fill: #BDC1C0;
}

.bt-like .number {
    position: absolute;
    bottom: -8px;
    right: -10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.list-items .box-item .box-tooltip {
    text-align: center;
}

.tooltip .box-tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 8px;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tooltip .tooltip-text {
    position: relative;
    top: 0;
    left: -50%;
    width: auto;
    padding: 10px;
    background-color: #49c5b6;
    white-space: nowrap;
    color: #fff;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    z-index: 970;
}

.tooltip .tooltip-text:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 0;
    width: 0;
    margin-left: -6px;
    border: solid transparent;
    border-top-color: #49c5b6;
    border-width: 8px 6px;
}

.list-items .box-info .footer .box-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.list-items .box-info .footer:after {
    content: '';
    display: block;
    clear: both;
}

.list-items .box-info:after {
    content: '';
    display: block;
    clear: both;
}

.list-items .box-item:after {
    content: '';
    display: block;
    clear: both;
}

.list-items:after {
    content: '';
    display: block;
    clear: both;
}

.paginate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 60px;
  clear: both;
  margin: 35px 0;
  font-size: 16px;
  overflow: hidden
}

.paginate .item {
  float: left;
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 1px;
  line-height: 60px;
  text-align: center;
  background-color: #fff;
  color: #202121;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}

.paginate .item:hover {
  background-color: #E6EAEA
}

.paginate .item.current {
  background-color: #000;
  color: #fff
}

.paginate .item.more {
  width: 100%;
  background-color: #000;
  color: #fff
}

.paginate .item.more:hover {
  opacity: 0.75
}

.paginate .item.white {
  background-color: #fcfcfc;
  color: #202121;
  font-weight: 400
}

.grid .cols-4 {
    width: 25%;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

#content:after {
    content: '';
    display: block;
    clear: both;
}


.b-lazy {
  -webkit-transition: opacity 500ms ease-in-out;
   -moz-transition: opacity 500ms ease-in-out;
   -o-transition: opacity 500ms ease-in-out;
   transition: opacity 500ms ease-in-out;
   max-width: 100%;
   opacity: 0;
}

.b-lazy.b-loaded {
   opacity: 1;
}





/* State Top Nav Begin */
.box-site-head {
  height: calc(((100vh - 70px) * 0.702) + 70px);
}

@media (max-width: 700px) {
  .box-site-head {
    height: calc(((100vh - 70px) * 0.582) + 70px);
  }
}

.slide-nav {
    /* position: absolute; */
    /* bottom: 0px; */
    left: 30px;
    right: 30px;
    z-index: 30;
}

/* @media screen and (min-width: 1024px) */
@media screen and (max-width: 800px) {
  .slide-nav {
    width: 90% !important;
  }
}

.slide-nav {
    width: 48%;
    display: block;
    margin: 0px 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: auto;
    right: auto;
}

.slide-nav__items {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 20px;
}

.slide-nav__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    cursor: pointer;
}

.slide-nav__items.bottom .slide-nav__link.active, .slide-nav__items.bottom .slide-nav__link:active, .slide-nav__items.bottom .slide-nav__link:focus, .slide-nav__items.bottom .slide-nav__link:hover {
    color: black;
    border-bottom-width: 7px;
    padding-top: 9px;
    text-decoration: none;
}

.slide-nav__items.bottom .slide-nav__link {
    -webkit-transition: all 100ms;
    transition: all 100ms;
    border-bottom: 1px solid black;
    margin-left: 5px;
    color: black;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
}

.slide-nav__items.top .slide-nav__link.active, .slide-nav__items.top .slide-nav__link:active, .slide-nav__items.top .slide-nav__link:focus, .slide-nav__items.top .slide-nav__link:hover {
    color: black;
    border-top-width: 7px;
    padding-top: 9px;
    text-decoration: none;
}

.slide-nav__items.top .slide-nav__link {
    -webkit-transition: all 100ms;
    transition: all 100ms;
    border-top: 1px solid black;
    margin-left: 5px;
    color: black;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
}







/* State nav footer begin */

.nav-footer {
    position: relative;
    padding-top: 50px;
    padding-bottom: 30px;
    height: 80px;
    background-color: #FFF;
    margin-top: 0px;
}

/* @media screen and (min-width: 1024px) */
.nav-footer {
    /* position: absolute; */
    z-index: 21;
    background-color: transparent;
    background-color: rgba(255, 192, 203, 0.3);
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: auto;
    height: 0px;
    padding: 0px;
    padding-top: 0pc;
    margin-left: 350px;
    margin-right: 350px;
}

.nav-footer__item--left {
    left: 60px;
    /* top: -90px; */
}

.nav-footer__item--right {
    right: 60px;
    /* top: -90px; */
}

.nav-footer__item {
    position: absolute;
    /* bottom: 30px; */
    /* top: 20px; */
}

.nav-item {
    text-align: center;
}

.nav-item {
    display: block;
}

.nav-item svg {
    width: unset !important;
}

svg:not(:root) {
    overflow: hidden;
}

.nav-item .icon__main {
    stroke: #fff;
}

.nav-item .icon__main {
    -webkit-transition: all 200ms;
    transition: all 200ms;
    -webkit-animation: fadeIn 900ms;
    animation: fadeIn 900ms;
    stroke: #242423;
}

.nav-item .icon__text {
    fill: #fff;
}

.nav-item .icon__text {
    -webkit-transition: all 200ms;
    transition: all 200ms;
    -webkit-animation: fadeIn 0ms;
    animation: fadeIn 0ms;
    fill: #242423;
}

.nav-item .icon__arrow {
    stroke: #fff;
}

.nav-item .icon__arrow {
    -webkit-transition: all 200ms;
    transition: all 200ms;
    -webkit-animation: fadeIn 900ms;
    animation: fadeIn 900ms;
    stroke: #242423;
}

.nav-item:hover .icon__arrow {
    -webkit-transform: translate(-10px, 0px);
    transform: translate(-10px, 0px);
}

.nav-footer__item--right .nav-item:hover .icon__arrow {
    -webkit-transform: translate(10px, 0px);
    transform: translate(10px, 0px);
}


/* .nav-item .icon__arrow {
    stroke: #fff;
} */

.nav-item:hover .icon__main {
    fill: #fff;
    stroke: #49c5b6;
}











/*  */
/*  */
/* state page filters css */
/*  */
/*  */

#box-filters-fixed {
  display: block;
  transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
  will-change: transform;
}

.tooltip {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.bt-info {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #DBE0DF;
    border-radius: 50%;
    text-align: center;
    color: #A6ABAB;
    cursor: pointer;
    -webkit-transition: border 0.3s ease-in-out;
    transition: border 0.3s ease-in-out;
}

.bt-info:before {
    content: 'i';
    position: relative;
    top: -1px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.tooltip .box-tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 8px;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tooltip .tooltip-text {
    position: relative;
    top: 0;
    left: -50%;
    width: auto;
    padding: 10px;
    background-color: #49c5b6;
    white-space: nowrap;
    color: #fff;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    z-index: 970;
}

.tooltip .tooltip-text:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 0;
    width: 0;
    margin-left: -6px;
    border: solid transparent;
    border-top-color: #49c5b6;
    border-width: 8px 6px;
}

a:hover {
    color: #202121;
    text-decoration: none;
}

.tooltip:hover .box-tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip .dropdown.open .menu-dropdown {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}



















body.filters .box-filters.fixed {
    position: fixed;
    top: 0px;
    z-index: 500;
}

.box-filters {
    /* top: 70px; */
    z-index: 1;
    position: relative;
    width: 100%;
    font-weight: 400;
    background-color: #f4f7f6;
    border-bottom: 1px solid #E6EAEA;
    border-top: 1px solid #E6EAEA;
}

.has-mobile, .hiden, .hidden {
    display: none;
}

.box-filters .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    /* padding-right: 20px; */
}

.box-filters .box-left {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.box-filters .box-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.box-filters .menu-filters {
  margin-bottom: 0px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
}

.box-filters .menu-filters.active {
  display: flex !important;
}

.box-filters .menu-filters .item {
    border-right: 1px solid #E6EAEA;
}

.box-filters .item {
    position: relative;
    float: left;
    min-width: 65px;
    height: 69px;
    padding: 0 20px;
    line-height: 70px;
    color: #202121;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    -webkit-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

.box-filters .item.not-hover {
    cursor: default;
}

.box-filters .item .ico-svg {
    top: -2px;
    vertical-align: middle;
}

.box-filters .menu-filters .ico-svg {
    fill: #202121;
}

.box-filters .item.item-text {
    text-transform: capitalize;
}

.box-filters .item.item-text strong {
    font-weight: bold;
}

.box-filters .item.dropdown:not(.not-arrow) {
    padding-right: 30px !important;
}

.box-filters .item .name-filter {
    text-align: center;
}

.box-filters .menu-dropdown.style2 {
    height: auto;
}

.box-filters .menu-dropdown.style3 {
    height: 500px;
    width: 500px;
}

.box-filters .menu-dropdown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -1px;
    width: 270px;
    height: 553px;
    background-color: #f4f7f6;
    border: 1px solid #E6EAEA;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    text-align: left;
    z-index: 9999;
    overflow: hidden;
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.box-filters .menu-dropdown.style2 ul {
    overflow: hidden;
}

.box-filters .menu-dropdown.style3 ul {
    overflow: hidden;
}

.box-filters .menu-dropdown ul {
    height: inherit;
    overflow: auto;
}

.box-filters .menu-dropdown li {
    position: relative;
    height: 69px;
    line-height: 70px;
    border-bottom: 1px solid #E6EAEA;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.box-filters .menu-dropdown strong {
    font-weight: 400;
}

.box-filters .menu-dropdown a {
    position: relative;
    display: block;
    padding-left: 23px;
    color: #202121;
    z-index: 1;
}

.box-filters .item a {
    color: #202121;
}

.box-filters .menu-dropdown a[data-count]:not([data-count=""]):after {
    margin-left: 3px;
    content: "(" attr(data-count) ")";
    font-size: 12px;
    font-weight: 300;
    color: #A6ABAB;
}

.box-filters .item.dropdown:not(.not-arrow):after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    height: 0;
    width: 0;
    margin-top: -2px;
    border: solid transparent;
    border-top-color: #202121;
    border-width: 5px 3px;
    -webkit-transition: border 0.3s ease-in-out;
    transition: border 0.3s ease-in-out;
}

.box-filters .menu-filters:after {
    content: '';
    display: block;
    clear: both;
}

.box-filters .box-right .menu-filters .item:last-child {
    border-right: none;
}

.ico-svg.ico-13 {
    height: 13px;
}

.box-filters .menu-dropdown.position-right {
    left: auto;
    right: 0;
}

.box-filters .menu-dropdown.position-center {
  left: calc((100vw/2) - 250px);
  top: calc((100vh/2) - (250px));
  position: fixed !important;

}

.box-filters .menu-dropdown ul.icons li .ico-link {
    display: block;
    padding: 0 60px 0 20px;
    color: #202121;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.box-filters .menu-dropdown ul.icons li .ico-svg {
    position: absolute;
    top: 29px;
    right: 20px;
}

.ico-svg.ico-rendering {
    shape-rendering: crispEdges;
}

.box-filters:after {
    content: '';
    display: block;
    clear: both;
}

.box-filters .dropdown.open .menu-dropdown {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.box-filters .info.open .menu-dropdown {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.box-loading.open {
    visibility: visible !important;
    opacity: 1 !important;
}

.box-filters .box-loading.style2 {
    top: -71px;
    height: 100vh;
}

.box-loading.style2 {
    visibility: hidden;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    z-index: 890;
}

.box-loading {
    width: 100%;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.box-loading .bts {
    position: absolute;
    top: 0;
    right: 0;
}

.box-loading .bts .bt {
    position: relative;
    float: left;
    width: 66px;
    height: 70px;
    margin-left: 1px;
    line-height: 70px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    background-color: #f4f7f6;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.box-loading .bts .bt-close:after {
  -webkit-transform: rotate(-45deg) !important;
  transform: rotate(-45deg) !important;
}

.box-loading .bts .bt-close:before, .box-loading .bts .bt-close:after {
    content: '';
    position: absolute;
    top: 33px;
    right: 22px;
    width: 20px;
    height: 3px;
    background: #202121;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.box-loading .spinner {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
}

.box-filters .item:not(.not-hover):hover {
    color: #A6ABAB;
    background: #FDFDFD;
}

.box-filters .item:not(.not-hover):hover {
    color: #A6ABAB;
    background: #FDFDFD;
}

.box-filters .item:not(.not-hover):hover .ico-svg {
    fill: #A6ABAB;
}

.box-filters .item:not(.not-hover):hover .ico-svg {
    fill: #A6ABAB;
}

body.filters .wrapper {
  padding-top: 140px
}

body.filters.filters-hide .box-filters.fixed {
  -webkit-transform: translateY(-71px);
  transform: translateY(-71px)
}

body.filters #search-result {
  margin-top: -70px
}

.box-filters.active {
    z-index: 303 !important;
}

.box-filters .item.dropdown:not(.not-arrow):hover:after {
  border-top-color: #A6ABAB
}

.box-filters .item.info {
  width: 100%;
  font-size: 14px;
  text-align: left;
  line-height: 71px
}

.overlay-content {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}

.overlay-content.show {
  opacity: 1
}

.overlay-content.show-hidden {
  -webkit-animation: overlayShowHidden 0.3s 1 forwards;
  animation: overlayShowHidden 0.3s 1 forwards
}

@-webkit-keyframes overlayShowHidden {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0;
    z-index: -1
  }
}

.box-filters .menu-dropdown li:hover {
    background-color: #E6EAEA;
}


.box-filters .menu-dropdown li.active-close:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.box-filters .menu-dropdown li.active-close:before, .box-filters .menu-dropdown li.active-close:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    width: 12px;
    height: 3px;
    margin-top: -1px;
    background-color: #202121;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.box-filters .menu-dropdown li.active-close:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.box-filters .menu-dropdown li.active-close {
    background-color: #E6EAEA;
}

/*  */
/*  */
/* SCROLLING FILTERS FOR BOTTOM HALF  */
/*  */
/*  */

/* #box-filters-fixed.clone {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
} */

body.down #box-filters-fixed {
    transform: translateY(70px);
    transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
}
